<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr code generator</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header class="navbar">
        <a href="#" class="logo">
            <h1 class="logo_text">Qr Generator</h1>
        </a>
    </header>